@model LoLShop.Web.ViewModels.Users.EditInputModel;

<div class="profile-image">
    <img src="@Model.AvatarImageUrl" alt="Profile Image" class="rounded-circle">
</div>

<form method="post" enctype="multipart/form-data">
    <div class="container" style="margin-bottom:80px;">
        <div class="row order-inputs">
            <input asp-for="Rank" type="text" class="form-control" placeholder="Rank...">
        </div>
        <div class="row order-inputs">
            <input asp-for="Champions" type="text" class="form-control" placeholder="Main Champions...">
        </div>
        <div class="row order-inputs">
            <input asp-for="NewImage" type="file" name="NewImage" id="newImage" accept=".png,.jpg,.jpeg" style="display: none;" />
            <input type="button" value="Change Profile Image" onclick="document.getElementById('newImage').click();" />
        </div>
    </div>

    <div class="account-button" style="margin-bottom:100px;">
        <button class="btn btn-warning btn-lg" type="submit" asp-area="" asp-controller="Users" asp-action="Edit"> Edit profile</button>
        <a class="btn btn-primary btn-lg" href="/Users/AccountDetails"> Cancel</a>
    </div>
</form>