@model LoLShop.Web.ViewModels.Administration.UsernamePromoteInputModel;
@using LoLShop.Common;

<h2 class="panel-text" style="text-align:center">Add Role</h2>

<form method="post">
    <div class="container" style="margin-bottom:80px; align-content:center">
        <div class="row">
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Username" type="text" class="form-control" placeholder="Username...">
        </div>
        <div class="row">
            <select asp-for="Role" class="form-control" id="selectRole">
                <option value=@GlobalConstants.BoosterRoleName>@GlobalConstants.BoosterRoleName</option>
                <option value=@GlobalConstants.CoachRoleName>@GlobalConstants.CoachRoleName</option>
                <option value=@GlobalConstants.AdministratorRoleName>@GlobalConstants.AdministratorRoleName</option>
            </select>
        </div>
    </div>

    <div class="account-button" style="margin-bottom:100px;">
        <button class="btn btn-primary btn-lg" type="submit" asp-controller="Panel" asp-action="PromoteUser">PROMOTE</button>
    </div>
</form>