<hr />
<h1 class="coaches-title">Coaches</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; color:#fff;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Username</h5>
                    <p class="card-text">Rank</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

