@model LoLShop.Web.ViewModels.Coaching.OrderInputModel;

<hr />
<h1 class="order-title">Coaching Order</h1>
<h2 class="jobs-under-title">Fill the form below to proceed:</h2>
<form method="post">
    <div class="container" style="margin-bottom:80px;">
        <input type="hidden" asp-for="CoachId"/>
        <div class="row order-inputs">
            <span asp-validation-for="GameName" class="text-danger"></span>
            <input asp-for="GameName" type="text" class="form-control" placeholder="In-Game Name...">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="Region" class="text-danger"></span>
            <input asp-for="Region" type="text" class="form-control" placeholder="Region...">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="DiscordTag" class="text-danger"></span>
            <input asp-for="DiscordTag" type="text" class="form-control" placeholder="Discord Tag...">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="Hours" class="text-danger"></span>
            <input asp-for="Hours" type="number" class="form-control" placeholder="Hours Coaching...">
        </div>
    </div>

    <div class="account-button" style="margin-bottom:100px;">
        <button class="btn btn-success btn-lg" type="submit" asp-controller="Coaching" asp-action="Order">ORDER NOW</button>
    </div>
</form>
