<hr />
<h1 class="order-title">Coaching Order</h1>
<h2 class="jobs-under-title">Fill the form below to proceed:</h2>
<form method="post">
    <div class="container" style="margin-bottom:80px;">
        <div class="row order-inputs">
            <input type="text" class="form-control" placeholder="In-Game Name...">
        </div>
        <div class="row order-inputs">
            <input type="text" class="form-control" placeholder="Region...">
        </div>
        <div class="row order-inputs">
            <input type="text" class="form-control" placeholder="Discord Tag...">
        </div>
        <div class="row order-inputs">
            <input type="number" class="form-control" placeholder="Hours Coaching...">
        </div>
    </div>

    <div class="account-button" style="margin-bottom:100px;">
        <button class="btn btn-success btn-lg" type="submit" asp-area="" asp-controller="Coaching" asp-action="Order">ORDER NOW</button>
    </div>
</form>
