@using LoLShop.Common
@{
    this.ViewData["Title"] = "LoL Shop";
}

    <div id="homeSlider" class="royalSlider">
        <div class="rsContent">
            <a class="rsImg" href="https://res.cloudinary.com/lolshop-cloud/image/upload/v1586349894/kat_na5n2g.png"></a>
            <div class="SlideTitleContainer rsABlock">
                <div class="CaptionAlignment">
                    <h2 class="rsSlideTitle title"><a href="/Identity/Account/Register">Use our shop now!</a></h2>
                </div>
            </div>
        </div>
    </div>
