
a:hover
{
    text-decoration:none;
}
.account-text {
    margin: 10px 0px;
    font-size: 24px;
    color: #bf0d0d;
    text-align: center;
}
.account-price {
    font-size: 16px;
    color: #53a24e;
    text-align: center;
}
.account-button {
    margin-top:30px;
    text-align:center;
}
.sell-title {
    margin-top:90px;
    margin-left:60px;
}
.sell-undertitle {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
}
.form-page-content{
    margin-left: 60px;
    margin-top: 50px;
}
.form-fields {
    margin-bottom: 25px;
}
