@model IEnumerable<LoLShop.Web.ViewModels.Accounts.AllAccountsRegionModel>; 

    <hr style="width:50%; margin:auto">
    <h1 style="text-align: center; margin-top:20px;margin-bottom:20px">
        <strong>CHAMPION ACCOUNTS</strong>
    </h1>
    <hr style="width:75%; margin:auto">
    
    <div class="account-button">
        <a href="/Accounts/Sell" class="btn btn-primary btn-lg">SELL ACCOUNT</a>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 70px;">
            <div class="col-sm">
                <a href="/Accounts/EUW">
                    <img style="margin:auto;" src="https://res.cloudinary.com/lolshop-cloud/image/upload/v1586598813/EUW_ahkjry.jpg">
                    <h2 class="account-text">EUW CHAMPION ACCOUNT</h2>
                    <p class="account-price">$5.00 - @Model.Where(x => x.Region == LoLShop.Data.Models.Regions.EUW).Count() in stock</p>
                </a>
            </div>
            <div class="col-sm">
                <a href="/Accounts/EUNE">
                    <img style="margin:auto;" src="https://res.cloudinary.com/lolshop-cloud/image/upload/v1586601664/eune_pxq7so.jpg">
                    <h2 class="account-text">EUNE CHAMPION ACCOUNT</h2>
                    <p class="account-price">$5.00 - @Model.Where(x => x.Region == LoLShop.Data.Models.Regions.EUNE).Count() in stock</p>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm">
                 <a href="/Accounts/NA">
                     <img style="margin:auto;" src="https://res.cloudinary.com/lolshop-cloud/image/upload/v1586601655/na_kfeeds.jpg">
                     <h2 class="account-text">NA CHAMPION ACCOUNT</h2>
                     <p class="account-price">$5.00 - @Model.Where(x => x.Region == LoLShop.Data.Models.Regions.NA).Count() in stock</p>
                 </a>
            </div>
            <div class="col-sm">
                 <a href="/Accounts/RU">
                     <img style="margin:auto;" src="https://res.cloudinary.com/lolshop-cloud/image/upload/v1586601658/ru_god1tg.jpg">
                     <h2 class="account-text">RU CHAMPION ACCOUNT</h2>
                     <p class="account-price">$5.00 - @Model.Where(x => x.Region == LoLShop.Data.Models.Regions.RU).Count() in stock</p>
                 </a>
            </div>
        </div>
    </div>
