@model LoLShop.Web.ViewModels.Accounts.SellAccountInputModel;
@using LoLShop.Data.Models;

<hr />

<h1 class="sell-title" style="text-align:center;">Sell your account to us!</h1>
<h2 class="sell-undertitle" style="text-align:center;">Fill this blank:</h2>

<form method="post">
    <div class="container" style="margin-bottom:80px;">
        <div class="row order-inputs">
            <span asp-validation-for="ChampionsCount" class="text-danger"></span>
            <input asp-for="ChampionsCount" type="text" class="form-control" placeholder="Champions Count">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="SkinsCount" class="text-danger"></span>
            <input asp-for="SkinsCount" type="text" class="form-control" placeholder="Skins Count">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="BlueEssence" class="text-danger"></span>
            <input asp-for="BlueEssence" type="text" class="form-control" placeholder="Blue Essence" />
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="RiotPoints" class="text-danger"></span>
            <input asp-for="RiotPoints" type="text" class="form-control" placeholder="Riot Points">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Username" type="text" class="form-control" placeholder="Account Username">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" type="password" class="form-control" placeholder="Account Password">
        </div>
        <div class="row order-inputs">
            <span asp-validation-for="Region" class="text-danger"></span>
            <select asp-for="Region" asp-items="Html.GetEnumSelectList<Regions>()" class="form-control">
                <option value="">Region</option>
            </select>
        </div>
    </div>

    <div class="account-button" style="margin-bottom:100px;">
        <button class="btn btn-primary btn-lg" type="submit" asp-area="" asp-controller="Accounts" asp-action="Sell">Sell!</button>
    </div>
</form>